<%- include("./layout/header.ejs")%>

<body class="dashboard-body row">
	<aside class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2">
		<section class="d-flex align-items-center">
			<img
				style="margin-right: 0.25rem"
				src="/static/img/logo.webp"
				alt="InsightDash Logo"
				srcset=""
			/>
			<p class="h3 mb-0 fw-bold text-primary">InsightDash</p>
		</section>
		<section class="profile-section w-100">
			<img
				class="mx-auto profile-img"
				width="36"
				height="36"
				src="/static/img/profile.webp"
				alt="Profile Photo"
				srcset=""
			/>
			<p class="h5 fw-bold">Admin</p>
			<p>admin@admin.com</p>
			<form action="/logout" method="POST">
				<button id="btn-logout" class="btn btn-primary">LOG OUT</button>
			</form>
		</section>
	</aside>
	<main
		class="main__section--dashboard col-12 col-sm-7 col-md-8 col-lg-9 col-xl-10 row m-0 p-0"
	>
		<h2 class="fw-bold mt-2">Summary</h2>
		<article class="col-12 py-2">
			<% dashboardContent.summary.forEach((element)=>{%>
			<section class="article__section section--accent row">
				<svg
					class="bi bi-view-list col-3"
					xmlns="http://www.w3.org/2000/svg"
					fill="currentColor"
					class="bi bi-globe2"
					viewBox="0 0 16 16"
				>
					<%- element.icon %>
				</svg>
				<div class="col-9">
					<p class="h4"><%- element.name %></p>
					<ul>
						<% element.dis.forEach((element)=>{ %>
						<li><%- element %></li>
						<% }) %>
					</ul>
				</div>
			</section>
			<% }) %>
		</article>

		<h2 class="fw-bold">Dashboard</h2>
		<article class="col-12">
			<% dashboardContent.dashBoard.forEach((element)=>{ %>
			<section class="article__section section--bg row">
				<div class="d-flex align-items-center justify-content-start col-12">
					<svg
						class="bi bi-view-list col-4"
						width="28"
						height="28"
						xmlns="http://www.w3.org/2000/svg"
						fill="#1070E8"
						viewBox="0 0 16 16"
					>
						<%- element.icon %>
					</svg>
					<p class="h4 px-1 m-0"><%- element.name %></p>
				</div>
				<div class="col-12">
					<img src="<%- element.img %>" alt="" srcset="" />
				</div>
			</section>
			<% }) %>
		</article>

		<h2 class="fw-bold">Orders</h2>
		<article class="col-12">
			<section class="article__section section--table col-12 row">
				<table class="col-12">
					<tbody>
						<% dashboardContent.orderHistory.forEach((element)=>{ %>
						<tr>
							<th><%= element.id %></th>
							<td><%= element.name %></td>
							<td><%= element.date %></td>
							<% if (element.status=="Delivered"){ %>
							<td class="text-success"><%= element.status %></td>
							<% }else{ %>
							<td class="text-danger"><%= element.status %></td>
							<% } %>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</section>
		</article>
	</main>
</body>
<%- include("./layout/footer")%>
